body
{
    background-color: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 0.2px;
    color: aliceblue;
}
h1 
{
    color: goldenrod;
    padding: 10px , 20px;
    font-size: 50PX;
}
#message-el
{
    font-style: italic;
}
button
{
 border: none;
 padding-top: 10px;
 padding-bottom: 10px;
 color: green;
 font-weight: bold;
 width: 150px;
 margin-bottom: 5px;
 border-radius: 5px;
 transition: transform 0.1s ease;
 background-color: goldenrod;
}
button:active
{
    transform: scale(1.15);
}
.grid
{
    display: grid;
    justify-content: center;
}